// - - - - - - - - - - - - - - - - - -

// Gallery

// - - - - - - - - - - - - - - - - - -

.gallery {
  visibility: hidden;
  position: relative;
  margin: 20px auto;

  @include mq(tabletp) {
    margin: 30px auto;
  }

  @include mq(laptop) {
    margin: 40px auto;
  }

  &:first-child {
    margin-top: 0;
  }
}

.gallery--on {
  visibility: visible;
}

.gallery__item {
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

// Flexbox layout for gallery
.gallery--grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-spacing / 2;
  margin-right: -$grid-spacing / 2;

  .gallery__item {
    padding: $grid-spacing / 2;
    width: 100%;

    @include mq(tabletl) {
      width: 50%;
    }

    @include mq(laptop) {
      width: 33.33%;
    }
  }

  .gallery__item__link {
    display: block;
    cursor: zoom-in;
  }
}
